@media (max-width: 600px) {
    .col{
        font-size: 13px;
    }
}

table {
    background-color: white;
}

th, td {
    margin-right: 10px;
    text-align: center;
    border: 0.15px solid grey;
}